@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body{
  margin: auto;
  font-family: "Dosis", sans-serif;
  background-color: black;
  color: goldenrod;
}

.navbar{
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid rgba(130, 96, 9, 0.362);
}

.navbar .links{
  margin: 35px
  
  
}

.navbar .links a{
  margin-left: 30px;
  text-decoration: none;
  color: goldenrod;
  font-size: large;
  padding: 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar .links a:hover{
  background-color: goldenrod;
  color: black;
  border-radius: 10px;
}







